/* Global */

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf),
    url(fonts/Roboto-Medium.ttf),
    url(fonts/Roboto-Bold.ttf);
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.title {
    color: white;
    font-size: 48px;
    font-weight: bold;
}

.body1 {
    color: white;
    font-size: 16px;
    font-weight: normal;
}

.app-bar {
    background-color: #001529;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.chic-secret-title {
    color: white;
    margin-left: 50px;
    margin-top: 16px;
    font-size: 28px;
    font-weight: 500;
}

.app-bar-content {
    width: 1400px;
    display: flex;
    flex-direction: row;
    align-self: center;
}

.app-bar-content-start {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 50px;
    margin-left: 50px;
}

.app-bar-content-end {
    display: flex;
    flex: 1;
}