/* Global */

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf),
    url(fonts/Roboto-Medium.ttf),
    url(fonts/Roboto-Bold.ttf);
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.title {
    color: white;
    font-size: 48px;
    font-weight: bold;
}

.title-dark {
    color: #000000;
    font-size: 48px;
    font-weight: bold;
}

.body1 {
    color: white;
    font-size: 16px;
    font-weight: normal;
}

.body1-dark {
    color: #000000;
    font-size: 16px;
    font-weight: normal;
}

.button {
    height: 40px;
    width: fit-content;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #0B84FF;
    display: flex;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: rgba(11, 132, 255, 0.7);
}

.button:active {
    background-color: rgba(11, 132, 255, 0.5);
}

.button-text {
    color: white;
    font-size: 14px;
    font-weight: normal;
    margin-left: 8px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.invisible {
    display: none;
}

.feature-button {
    width: 150px;
    height: 150px;
    background-color: rgba(11, 132, 255, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.feature-button:hover {
    background-color: rgba(11, 132, 255, 0.3);
}

.feature-button:active {
    background-color: #0B84FF;
}

.feature-button.active {
    background-color: #0B84FF;
}

.feature-button-text {
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    font-weight: normal;
    margin-top: 8px;
    text-align: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.feature-button-text.active {
    color: white;
}

.feature-button:active .feature-button-text {
    color: white;
}

.feature-button-image path {
    fill: #000000;
    fill-opacity: 70%;
}

.feature-button-image.active path {
    fill: white;
    fill-opacity: 100%;
}

.feature-button:active .feature-button-image path {
    fill: white;
    fill-opacity: 100%;
}

.app-bar {
    background-color: #001529;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.chic-secret-title {
    color: white;
    margin-left: 50px;
    margin-top: 16px;
    font-size: 28px;
    font-weight: 500;
}

.content {
    width: 1400px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
}

.app-bar-content {
    width: 1400px;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 28px;
}

.app-bar-content-start {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 50px;
    margin-right: 30px;
}

.app-bar-content-end {
    display: flex;
    flex: 1;
    margin-left: 50px;
    margin-right: 50px;
}

.app-bar-macos-img {
    width: 700px;
}

.download-buttons-container {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.features-buttons-container {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
}

.feature-title {
    text-align: center;
    font-size: 34px;
    font-weight: normal;
    margin-top: 48px;
    margin-left: 100px;
    margin-right: 100px;
}

.feature-image {
    width: 1280px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 32px;
}

.feature-image-phone {
    width: 500px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 32px;
    align-self: center;
}

@keyframes featureAnimation {
    0% {
        transform: translateY(-5%);
        opacity: 0.3;
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.feature {
    animation: 0.6s ease 0s 1 featureAnimation;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.open-source-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    margin-top: 48px;
}

.open-source-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 50px;
    margin-right: 40px;
}

.open-source-image {
    width: 762px;
    margin-left: 50px;
    margin-right: 50px;
}

.footer {
    height: 100px;
    background-color: #0B84FF;
    display: flex;
    flex-direction: row;
    margin-top: 48px;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    color: white;
    gap: 8px;
}

.footer-title {
    font-size: 28px;
    font-weight: 600;
}

.footer-signature {
    font-size: 16px;
}

.footer-linkedin {
    height: 30px;
    align-self: center;
    margin-right: 50px;
}
